In [2]:
num1 = float(input('Enter first number: '))
num2 = float(input('Enter second number: '))
result = num1 + num2
print('Addition is', result)

Enter first number: 45
Enter second number: 67
Addition is 112.0

In [3]:
radius = float(input('Enter radius: '))
area = 3.14 * radius ** 2
perimeter = 2 * 3.14 * radius
print('Area:', area,'Perimeter:',perimeter)

Enter radius: 5.6
Area: 98.4704 Perimeter: 35.168

In [5]:
amount = int(input('Enter amount: '))
percentage = float(input('Enter percentage: '))
final_amount = amount * percentage / 100
print('Final:', final_amount + amount)

Enter amount: 500
Enter percentage: 20
Final: 600.0

In [9]:
num = int(input('Enter the number: '))
if num > 0:
    print('Positive Number')
elif num == 0:
    print('ZERO')
else:
    print('Negative Number')

Enter the number: 0
ZERO

In [12]:
year = int(input('Enter the year: '))
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print('Leap year') # 2000
        else:
            print('Not Leap')  # 1900
    else:
        print('Leap year')  # 2024
else:
    print('Not Leap')  # 2023

Enter the year: 1700
Not Leap

In [13]:
import calendar

In [15]:
calendar.isleap(2000)

True

In [16]:
count = 0
while count < 10:
    print('Tushar')
    count += 1

Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar

In [17]:
add = 0
num = 1
while num <= 10:
    add = add + num
    num += 1

print(add)

55

In [18]:
add = 0
num = 1
while num <= 20:
    add = add + num
    num += 2

print(add)

100

In [19]:
for x in 45, 99, 76, 23, 45:
    print(x)

45
99
76
23
45

In [20]:
for i in range(10):
    print('Tushar')

Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar

In [21]:
add = 0
for num in range(1,11):
    add += num
    
print(add)

55

In [22]:
list(range(1,21,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [23]:
add = 0
for num in range(1,20,2):
    add += num
    
print(add)

100

In [24]:
sum(range(1,20,2))

100

In [25]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [26]:
metals = ['silver','gold','copper','iron',
         'copper','iron','aluminium','gold',
         'silver','copper','gold']

In [27]:
new_metals = []
for metal in metals:
    if metal != 'copper':
        new_metals.append(metal)
        
print(new_metals)

['silver', 'gold', 'iron', 'iron', 'aluminium', 'gold', 'silver', 'gold']

In [28]:
new_metals = [metal for metal in metals
              if metal !='copper']

In [29]:
new_metals

['silver', 'gold', 'iron', 'iron', 'aluminium', 'gold', 'silver', 'gold']

In [43]:
num = [5, 6, 2, 12, 8, 9, 1, 3, 27, 7, 4, 0, 12]

In [44]:
mid = len(num) // 2

In [45]:
x = num[:mid]
y = num[mid:]
y.sort()
num = x + y
num

[5, 6, 2, 12, 8, 9, 0, 1, 3, 4, 7, 12, 27]

[1, 3, 7, 4, 0]

[5, 6, 2, 8, 9, 0, 1, 3, 4, 7]

In [47]:
studs = []
num = int(input('How many students? '))
for i in range(num):
    roll = int(input('Enter roll: '))
    name = input('Enter name: ')
    marks = float(input('Enter marks: '))
    studs.append((roll,name,marks))
    
mx = 0
for stud in studs:
    if stud[2] > mx:
        mx = stud[2]
        topper = stud[1]
        
print(topper)

How many students? 5
Enter roll: 1
Enter name: ABC
Enter marks: 56.78
Enter roll: 2
Enter name: PQR
Enter marks: 78.56
Enter roll: 3
Enter name: XYZ
Enter marks: 67.34
Enter roll: 4
Enter name: HIJ
Enter marks: 61.34
Enter roll: 5
Enter name: STU
Enter marks: 69.34

In [48]:
topper

'PQR'

In [49]:
new = 90, 33, 22, 12, 45

In [50]:
new

(90, 33, 22, 12, 45)

In [51]:
# insert 11 between 90 and 33

In [55]:
new = list(new)
new.insert(1,11)
new = tuple(new)
new

(90, 11, 33, 22, 12, 45)

In [54]:
new

(90, 33, 22, 12, 45)

In [56]:
s = {}

In [57]:
s[2] = 56
s

{2: 56}

In [58]:
s = set()
s

set()

In [59]:
s.add(45)

In [60]:
s

{45}

In [61]:
s.add(5)
s

{5, 45}

In [62]:
s.add(45)
s

{5, 45}

In [63]:
def factorial(n):
    fact = 1
    for i in range(1, n+1):
        fact = fact * i
    return fact

In [64]:
factorial(5)

120